body {
  font-family: monospace;
  font-size: 20px;
  color: #999999;
  margin:0;
}

#appContainer {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
#textContainer {
  height: 4.5em;
  width: 500px;
  overflow: hidden;
  margin: 30px auto;
  margin: 5vh auto;
}
.word {
  display: inline-block;
  box-sizing: border-box;

  text-align:center;
}
.word span {
  display: inline-block;
  box-sizing: border-box; 

  border: 0 solid transparent;
  border-bottom-width: 0.1em;
  border-radius:0.2em;

  /* letter-spacing: -0.1em; */
  padding: 0.1em 0.05em 0 0.05em;
  margin: 1px;
  /*min-width: 1em;*/
}
.correct {
  color: inherit;
  background-color: rgba(0, 255, 0, 0.5);
}
.incorrect {
  color: inherit;
  background-color: rgba(255, 0, 0, 0.5);
}
.corrected {
  color: inherit;
  background-color: rgba(255, 255, 0, 0.5);
}
.clear {
  
}
.current-word {
  color:black;
  border: 0 dotted gray;
  border-bottom-width: 0.15em;
  border-radius:0.2em;
}
.skipped {
  border-color: red;
}
.cursor {
  color: inherit;
  background-color: transparent;
  -webkit-animation: blinkCursor 0.5s infinite;
  -moz-animation: blinkCursor 0.5s infinite;
}
@-webkit-keyframes blinkCursor {
  from {border-bottom-color: transparent;}
    to {border-bottom-color: black;}
}
@-moz-keyframes blinkCursor {
  from {border-bottom-color: transparent;}
    to {border-bottom-color: black;}
}
.btn {
  background-color: white;
  width:200px;
  height: 50px;
  border: 2px solid #555;
  color: #555;
  font-size: 20px;
  font-family: monospace;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 5%;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}
.btn:active {
  box-shadow: none;
}
.btn:focus {
  outline: 0;
}
.title {
  color:black;
  margin-top: 15%;
}
.subHeading { 
  margin-top: 6%;
}
.nameInput {
  width: 20%;
  margin-top: 5%;
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
  font-family: monospace;
  font-size: 15px;
}
input:focus {
  outline: 0;
}
.hidden{
  position: absolute;
  left: -300px;
}
.player{
  float: left;
  margin-left: 20%;
}
.opponent{
  float: right;
  margin-right: 20%;
}
.end {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}
.score {
  margin-top: 0;
}
.end-btn{
  width:210px;
  height: 60px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
  margin-top: 0;
  text-decoration: none;
}
.hide {
  opacity: 0;
}
.warn {
  opacity: 1;
  color: red;
}
#warning {
  color: red;
}
b {
  color: green;
}
